In [1]:
import pandas as pd

In [2]:
data_set = pd.read_csv('../Dataset/Ucayali/consolidado_allYears_UCAYALI.csv', sep = ";")
data_set

C:\Users\chapp\anaconda3\envs\env_name\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CENTRO_SALUD,ANIO,DEPARTAMENTO,RANGO_EDAD,VACUNA,MES,COBERTURA,CANTIDAD,PROVINCIA,DISTRITO,RED,MICRORRED,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO
0,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,ABRIL,0,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,NaN,NaN,998497
1,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,AGOSTO,0,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,2.0,115625.0,3650033
2,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,DICIEMBRE,0,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,2.0,115625.0,1953340
3,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,ENERO,0,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,1.0,115625.0,924269
4,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,FEBRERO,0,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,1.0,115625.0,1000320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127255,ZORRILLOS,2022,UCAYALI,RN,HVB,MARZO,0.0,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,1.0,10946.0,784465
127256,ZORRILLOS,2022,UCAYALI,RN,HVB,MAYO,0.0,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,1.0,10946.0,760212
127257,ZORRILLOS,2022,UCAYALI,RN,HVB,NOVIEMBRE,0.0,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,NaN,10946.0,677800
127258,ZORRILLOS,2022,UCAYALI,RN,HVB,OCTUBRE,0.0,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,NaN,10946.0,541898
127259,ZORRILLOS,2022,UCAYALI,RN,HVB,SETIEMBRE,0.0,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,1.0,10946.0,694132

In [3]:
data_set.isnull().sum()

CENTRO_SALUD                0
ANIO                        0
DEPARTAMENTO                0
RANGO_EDAD                  0
VACUNA                      0
MES                         0
COBERTURA                   0
CANTIDAD                    0
PROVINCIA                 720
DISTRITO                  720
RED                       720
MICRORRED                 720
CANTIDAD DE PERSONAL    21225
POBLACION                5700
PRESUPUESTO                 0
dtype: int64

In [4]:
data_set[data_set["PROVINCIA"].isnull()]["CENTRO_SALUD"].unique()

array(['HOSPITAL II PUCALLPA ESSALUD', 'JUVENTUD', 'I1 00016453 SAWAWO'],
      dtype=object)

## 'HOSPITAL II PUCALLPA ESSALUD'

In [5]:
data_set[data_set["CENTRO_SALUD"] == 'HOSPITAL II PUCALLPA ESSALUD']

,CENTRO_SALUD,ANIO,DEPARTAMENTO,RANGO_EDAD,VACUNA,MES,COBERTURA,CANTIDAD,PROVINCIA,DISTRITO,RED,MICRORRED,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO
12780,HOSPITAL II PUCALLPA ESSALUD,2019,UCAYALI,1_ANIO,AMA,ABRIL,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,998497
12781,HOSPITAL II PUCALLPA ESSALUD,2019,UCAYALI,1_ANIO,AMA,AGOSTO,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3650033
12782,HOSPITAL II PUCALLPA ESSALUD,2019,UCAYALI,1_ANIO,AMA,DICIEMBRE,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1953340
12783,HOSPITAL II PUCALLPA ESSALUD,2019,UCAYALI,1_ANIO,AMA,ENERO,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,924269
12784,HOSPITAL II PUCALLPA ESSALUD,2019,UCAYALI,1_ANIO,AMA,FEBRERO,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1000320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63175,HOSPITAL II PUCALLPA ESSALUD,2022,UCAYALI,RN,HVB,MARZO,0,0.0,CORONEL PORTILLO,CALLERIA,NO PERTENECE A NINGUNA RED,NO PERTENECE A NINGUNA MICRORED,NaN,177751.0,784465
63176,HOSPITAL II PUCALLPA ESSALUD,2022,UCAYALI,RN,HVB,MAYO,0,0.0,CORONEL PORTILLO,CALLERIA,NO PERTENECE A NINGUNA RED,NO PERTENECE A NINGUNA MICRORED,NaN,177751.0,760212
63177,HOSPITAL II PUCALLPA ESSALUD,2022,UCAYALI,RN,HVB,NOVIEMBRE,0,0.0,CORONEL PORTILLO,CALLERIA,NO PERTENECE A NINGUNA RED,NO PERTENECE A NINGUNA MICRORED,NaN,177751.0,677800
63178,HOSPITAL II PUCALLPA ESSALUD,2022,UCAYALI,RN,HVB,OCTUBRE,0,0.0,CORONEL PORTILLO,CALLERIA,NO PERTENECE A NINGUNA RED,NO PERTENECE A NINGUNA MICRORED,NaN,177751.0,541898
63179,HOSPITAL II PUCALLPA ESSALUD,2022,UCAYALI,RN,HVB,SETIEMBRE,0,0.0,CORONEL PORTILLO,CALLERIA,NO PERTENECE A NINGUNA RED,NO PERTENECE A NINGUNA MICRORED,NaN,177751.0,694132

In [6]:
data_set.loc[(data_set["CENTRO_SALUD"] == 'HOSPITAL II PUCALLPA ESSALUD') & (data_set["PROVINCIA"].isnull()), "PROVINCIA"] = "CORONEL PORTILLO"

In [7]:
data_set.loc[(data_set["CENTRO_SALUD"] == 'HOSPITAL II PUCALLPA ESSALUD') & (data_set["DISTRITO"].isnull()), "DISTRITO"] = "CALLERIA"
data_set.loc[(data_set["CENTRO_SALUD"] == 'HOSPITAL II PUCALLPA ESSALUD') & (data_set["RED"].isnull()), "RED"] = "NO PERTENECE A NINGUNA RED"
data_set.loc[(data_set["CENTRO_SALUD"] == 'HOSPITAL II PUCALLPA ESSALUD') & (data_set["MICRORRED"].isnull()), "MICRORRED"] = "NO PERTENECE A NINGUNA MICRORED"

In [8]:
data_set.loc[(data_set["CENTRO_SALUD"] == 'HOSPITAL II PUCALLPA ESSALUD') & (data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2019), "POBLACION"] = 168924
data_set.loc[(data_set["CENTRO_SALUD"] == 'HOSPITAL II PUCALLPA ESSALUD') & (data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2021), "POBLACION"] = 174981

In [9]:
data_set[(data_set["CENTRO_SALUD"] == 'HOSPITAL II PUCALLPA ESSALUD')&(data_set["POBLACION"].isnull())]

Empty DataFrame
Columns: [CENTRO_SALUD, ANIO, DEPARTAMENTO, RANGO_EDAD, VACUNA, MES, COBERTURA, CANTIDAD, PROVINCIA, DISTRITO, RED, MICRORRED, CANTIDAD DE PERSONAL, POBLACION, PRESUPUESTO]
Index: []

## JUVENTUD

In [10]:
data_set[data_set["CENTRO_SALUD"] == 'JUVENTUD']

,CENTRO_SALUD,ANIO,DEPARTAMENTO,RANGO_EDAD,VACUNA,MES,COBERTURA,CANTIDAD,PROVINCIA,DISTRITO,RED,MICRORRED,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO
8640,JUVENTUD,2019,UCAYALI,1_ANIO,AMA,ABRIL,33.33333333,1.0,CORONEL PORTILLO,NUEVA REQUENA,FEDERICO BASADRE - YARINACOCHA,NUEVA REQUENA,NaN,NaN,998497
8641,JUVENTUD,2019,UCAYALI,1_ANIO,AMA,AGOSTO,0,0.0,CORONEL PORTILLO,NUEVA REQUENA,FEDERICO BASADRE - YARINACOCHA,NUEVA REQUENA,1.0,5690.0,3650033
8642,JUVENTUD,2019,UCAYALI,1_ANIO,AMA,DICIEMBRE,0,0.0,CORONEL PORTILLO,NUEVA REQUENA,FEDERICO BASADRE - YARINACOCHA,NUEVA REQUENA,1.0,5690.0,1953340
8643,JUVENTUD,2019,UCAYALI,1_ANIO,AMA,ENERO,0,0.0,CORONEL PORTILLO,NUEVA REQUENA,FEDERICO BASADRE - YARINACOCHA,NUEVA REQUENA,1.0,5690.0,924269
8644,JUVENTUD,2019,UCAYALI,1_ANIO,AMA,FEBRERO,0,0.0,CORONEL PORTILLO,NUEVA REQUENA,FEDERICO BASADRE - YARINACOCHA,NUEVA REQUENA,1.0,5690.0,1000320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74695,JUVENTUD,2022,UCAYALI,RN,HVB,MARZO,0.0,0.0,CORONEL PORTILLO,NUEVA REQUENA,FEDERICO BASADRE - YARINACOCHA,NUEVA REQUENA,1.0,5843.0,784465
74696,JUVENTUD,2022,UCAYALI,RN,HVB,MAYO,0.0,0.0,CORONEL PORTILLO,NUEVA REQUENA,FEDERICO BASADRE - YARINACOCHA,NUEVA REQUENA,1.0,5843.0,760212
74697,JUVENTUD,2022,UCAYALI,RN,HVB,NOVIEMBRE,0.0,0.0,CORONEL PORTILLO,NUEVA REQUENA,FEDERICO BASADRE - YARINACOCHA,NUEVA REQUENA,NaN,5843.0,677800
74698,JUVENTUD,2022,UCAYALI,RN,HVB,OCTUBRE,0.0,0.0,CORONEL PORTILLO,NUEVA REQUENA,FEDERICO BASADRE - YARINACOCHA,NUEVA REQUENA,NaN,5843.0,541898
74699,JUVENTUD,2022,UCAYALI,RN,HVB,SETIEMBRE,0.0,0.0,CORONEL PORTILLO,NUEVA REQUENA,FEDERICO BASADRE - YARINACOCHA,NUEVA REQUENA,1.0,5843.0,694132

In [11]:
data_set[(data_set["CENTRO_SALUD"] == 'JUVENTUD') & (data_set["DISTRITO"].isnull())]

,CENTRO_SALUD,ANIO,DEPARTAMENTO,RANGO_EDAD,VACUNA,MES,COBERTURA,CANTIDAD,PROVINCIA,DISTRITO,RED,MICRORRED,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO
21780,JUVENTUD,2021,UCAYALI,1_ANIO,AMA,ABRIL,0,0.0,NaN,NaN,NaN,NaN,1.0,NaN,268268
21781,JUVENTUD,2021,UCAYALI,1_ANIO,AMA,AGOSTO,0,0.0,NaN,NaN,NaN,NaN,1.0,NaN,629819
21782,JUVENTUD,2021,UCAYALI,1_ANIO,AMA,DICIEMBRE,0,0.0,NaN,NaN,NaN,NaN,1.0,NaN,486866
21783,JUVENTUD,2021,UCAYALI,1_ANIO,AMA,ENERO,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,822309
21784,JUVENTUD,2021,UCAYALI,1_ANIO,AMA,FEBRERO,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,677118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21955,JUVENTUD,2021,UCAYALI,RN,HVB,MARZO,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1269741
21956,JUVENTUD,2021,UCAYALI,RN,HVB,MAYO,0,0.0,NaN,NaN,NaN,NaN,1.0,NaN,694026
21957,JUVENTUD,2021,UCAYALI,RN,HVB,NOVIEMBRE,0,0.0,NaN,NaN,NaN,NaN,1.0,NaN,811749
21958,JUVENTUD,2021,UCAYALI,RN,HVB,OCTUBRE,0,0.0,NaN,NaN,NaN,NaN,1.0,NaN,612818
21959,JUVENTUD,2021,UCAYALI,RN,HVB,SETIEMBRE,0,0.0,NaN,NaN,NaN,NaN,1.0,NaN,681661

In [12]:
data_set.loc[(data_set["CENTRO_SALUD"] == 'JUVENTUD') & (data_set["PROVINCIA"].isnull()), "PROVINCIA"] = "CORONEL PORTILLO"
data_set.loc[(data_set["CENTRO_SALUD"] == 'JUVENTUD') & (data_set["DISTRITO"].isnull()), "DISTRITO"] = "NUEVA REQUENA"
data_set.loc[(data_set["CENTRO_SALUD"] == 'JUVENTUD') & (data_set["RED"].isnull()), "RED"] = "FEDERICO BASADRE - YARINACOCHA"
data_set.loc[(data_set["CENTRO_SALUD"] == 'JUVENTUD') & (data_set["MICRORRED"].isnull()), "MICRORRED"] = "NUEVA REQUENA"

In [13]:
data_set[(data_set["CENTRO_SALUD"] == 'JUVENTUD') & (data_set["POBLACION"].isnull())]["ANIO"].unique()

array([2019, 2021], dtype=int64)

In [14]:
data_set.loc[(data_set["CENTRO_SALUD"] == 'JUVENTUD') & (data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2019), "POBLACION"] = 5690
data_set.loc[(data_set["CENTRO_SALUD"] == 'JUVENTUD') & (data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2021), "POBLACION"] = 5794

In [15]:
data_set[(data_set["CENTRO_SALUD"] == 'JUVENTUD')&(data_set["PROVINCIA"].isnull())]

Empty DataFrame
Columns: [CENTRO_SALUD, ANIO, DEPARTAMENTO, RANGO_EDAD, VACUNA, MES, COBERTURA, CANTIDAD, PROVINCIA, DISTRITO, RED, MICRORRED, CANTIDAD DE PERSONAL, POBLACION, PRESUPUESTO]
Index: []

## I1 00016453 SAWAWO

In [16]:
data_set[data_set["CENTRO_SALUD"] == 'I1 00016453 SAWAWO']

,CENTRO_SALUD,ANIO,DEPARTAMENTO,RANGO_EDAD,VACUNA,MES,COBERTURA,CANTIDAD,PROVINCIA,DISTRITO,RED,MICRORRED,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO
41940,I1 00016453 SAWAWO,2021,UCAYALI,1_ANIO,AMA,ABRIL,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,268268
41941,I1 00016453 SAWAWO,2021,UCAYALI,1_ANIO,AMA,AGOSTO,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,629819
41942,I1 00016453 SAWAWO,2021,UCAYALI,1_ANIO,AMA,DICIEMBRE,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,486866
41943,I1 00016453 SAWAWO,2021,UCAYALI,1_ANIO,AMA,ENERO,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,822309
41944,I1 00016453 SAWAWO,2021,UCAYALI,1_ANIO,AMA,FEBRERO,28.57142857,2.0,NaN,NaN,NaN,NaN,NaN,NaN,677118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72175,I1 00016453 SAWAWO,2022,UCAYALI,RN,HVB,MARZO,0.0,0.0,ATALAYA,YURUA,CORONEL PORTILLO,YURUA,NaN,2564.0,784465
72176,I1 00016453 SAWAWO,2022,UCAYALI,RN,HVB,MAYO,0.0,0.0,ATALAYA,YURUA,CORONEL PORTILLO,YURUA,NaN,2564.0,760212
72177,I1 00016453 SAWAWO,2022,UCAYALI,RN,HVB,NOVIEMBRE,0.0,0.0,ATALAYA,YURUA,CORONEL PORTILLO,YURUA,NaN,2564.0,677800
72178,I1 00016453 SAWAWO,2022,UCAYALI,RN,HVB,OCTUBRE,0.0,0.0,ATALAYA,YURUA,CORONEL PORTILLO,YURUA,NaN,2564.0,541898
72179,I1 00016453 SAWAWO,2022,UCAYALI,RN,HVB,SETIEMBRE,0.0,0.0,ATALAYA,YURUA,CORONEL PORTILLO,YURUA,1.0,2564.0,694132

In [17]:
data_set.loc[(data_set["CENTRO_SALUD"] == 'I1 00016453 SAWAWO') & (data_set["PROVINCIA"].isnull()), "PROVINCIA"] = "ATALAYA"
data_set.loc[(data_set["CENTRO_SALUD"] == 'I1 00016453 SAWAWO') & (data_set["DISTRITO"].isnull()), "DISTRITO"] = "YURUA"
data_set.loc[(data_set["CENTRO_SALUD"] == 'I1 00016453 SAWAWO') & (data_set["RED"].isnull()), "RED"] = "CORONEL PORTILLO"
data_set.loc[(data_set["CENTRO_SALUD"] == 'I1 00016453 SAWAWO') & (data_set["MICRORRED"].isnull()), "MICRORRED"] = "YURUA"

In [18]:
data_set[(data_set["CENTRO_SALUD"] == 'I1 00016453 SAWAWO')&(data_set["POBLACION"].isnull())]["ANIO"].unique()

array([2021], dtype=int64)

In [19]:
data_set.loc[(data_set["CENTRO_SALUD"] == 'I1 00016453 SAWAWO') & (data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2021), "POBLACION"] = 2501

In [20]:
data_set.isnull().sum()

CENTRO_SALUD                0
ANIO                        0
DEPARTAMENTO                0
RANGO_EDAD                  0
VACUNA                      0
MES                         0
COBERTURA                   0
CANTIDAD                    0
PROVINCIA                   0
DISTRITO                    0
RED                         0
MICRORRED                   0
CANTIDAD DE PERSONAL    21225
POBLACION                4920
PRESUPUESTO                 0
dtype: int64

## POBLACION CHECK

In [25]:
data_set[data_set["POBLACION"].isnull()]["DISTRITO"].unique()

array(['YARINACOCHA', 'CALLERIA', 'CAMPOVERDE', 'NUEVA REQUENA',
       'NESHUYA', 'CURIMANA', 'ALEXANDER VON HUMBOLDT'], dtype=object)

In [26]:
data_set.loc[(data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2019) & (data_set["DISTRITO"]=="YARINACOCHA"), "POBLACION"] = 115625
data_set.loc[(data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2019) & (data_set["DISTRITO"]=="CALLERIA"), "POBLACION"] = 168924
data_set.loc[(data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2019) & (data_set["DISTRITO"]=="CAMPOVERDE"), "POBLACION"] = 19029
data_set.loc[(data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2019) & (data_set["DISTRITO"]=="NUEVA REQUENA"), "POBLACION"] = 5690
data_set.loc[(data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2019) & (data_set["DISTRITO"]=="NESHUYA"), "POBLACION"] = 10080
data_set.loc[(data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2019) & (data_set["DISTRITO"]=="CURIMANA"), "POBLACION"] = 9803
data_set.loc[(data_set["POBLACION"].isnull()) & (data_set["ANIO"]==2019) & (data_set["DISTRITO"]=="ALEXANDER VON HUMBOLDT"), "POBLACION"] = 6037

In [27]:
data_set.isnull().sum()

CENTRO_SALUD                0
ANIO                        0
DEPARTAMENTO                0
RANGO_EDAD                  0
VACUNA                      0
MES                         0
COBERTURA                   0
CANTIDAD                    0
PROVINCIA                   0
DISTRITO                    0
RED                         0
MICRORRED                   0
CANTIDAD DE PERSONAL    21225
POBLACION                   0
PRESUPUESTO                 0
dtype: int64

## Quality Checks

In [28]:
data_set["RED"].unique()

array(['FEDERICO BASADRE - YARINACOCHA', 'NO PERTENECE A NINGUNA RED',
       'CORONEL PORTILLO', 'ATALAYA', 'AGUAYTIA'], dtype=object)

In [30]:
data_set["MICRORRED"].unique()

array(['NUEVO PARAISO', 'SAN JOSE DE YARINACOCHA', 'CAMPO VERDE',
       'NUEVA REQUENA', 'MONTE ALEGRE-CURIMANA',
       'NO PERTENECE A NINGUNA MICRORED', 'SAN FERNANDO', '09 DE OCTUBRE',
       'MASISEA', 'IPARIA', 'PURUS', 'YURUA', 'ATALAYA', 'SEPAHUA',
       'BOLOGNESI', 'AGUAYTIA', 'SAN ALEJANDRO',
       ' SAN JOSE DE YARINACOCHA', ' MONTE ALEGRE', ' CAMPO VERDE'],
      dtype=object)

In [31]:
data_set["MICRORRED"] = data_set["MICRORRED"].str.lstrip()

In [32]:
data_set["MICRORRED"].unique()

array(['NUEVO PARAISO', 'SAN JOSE DE YARINACOCHA', 'CAMPO VERDE',
       'NUEVA REQUENA', 'MONTE ALEGRE-CURIMANA',
       'NO PERTENECE A NINGUNA MICRORED', 'SAN FERNANDO', '09 DE OCTUBRE',
       'MASISEA', 'IPARIA', 'PURUS', 'YURUA', 'ATALAYA', 'SEPAHUA',
       'BOLOGNESI', 'AGUAYTIA', 'SAN ALEJANDRO', 'MONTE ALEGRE'],
      dtype=object)

In [33]:
data_set[data_set["MICRORRED"] == 'MONTE ALEGRE-CURIMANA']["CENTRO_SALUD"].unique()

array(['VIRGEN DEL CARMEN', 'PUESTO DE SALUD MERIBA',
       'MONTE ALEGRENESHUYA', 'VON HUMBOLTD', 'SAN JUAN KM 71',
       'MONTE DE LOS OLIVOS', 'LA UNION', 'NUEVO SAN JUAN KM 69',
       'EL MILAGRO KM 83', 'VILLA DEL CAMPO', 'SANTA ROSA DE GUINEA',
       'CURIMANA', 'LAS MALVINAS', 'BELLO HORIZONTE', 'ZORRILLOS',
       'SAN JUAN DE TAHUAPOA', 'PUEBLO LIBRE CURIMANA'], dtype=object)

In [35]:
data_set[data_set["MICRORRED"] == 'MONTE ALEGRE']["CENTRO_SALUD"].unique()

array(['EL MILAGRO KM 83'], dtype=object)

In [37]:
data_set.loc[(data_set["CENTRO_SALUD"] == 'EL MILAGRO KM 83')&(data_set["MICRORRED"] == 'MONTE ALEGRE') , "MICRORRED"] = "MONTE ALEGRE-CURIMANA"

In [38]:
data_set[data_set["MICRORRED"] == 'MONTE ALEGRE']["CENTRO_SALUD"].unique()

array([], dtype=object)

In [46]:
data_set.to_csv('../Dataset/Ucayali/consolidado_allYears_UCAYALI_final_2.csv', index = False)

# Ydata Profiling Report

In [42]:
import pandas as pd
from ydata_profiling import ProfileReport

C:\Users\chapp\anaconda3\envs\env_name\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [84]:
df = pd.read_csv("../Dataset/Ucayali/consolidado_allYears_UCAYALI_final_3.csv")
profile = ProfileReport(df, title="Profiling Report UNICEF VACCINES")
profile.to_file("UNICEF_VACCINES_EDA.html")

C:\Users\chapp\anaconda3\envs\env_name\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
Summarize dataset: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 41/41 [00:08<00:00,  4.89it/s, Completed]
Generate report structure: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:04<00:00,  4.54s/it]
Render HTML: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00,  1.06it/s]
Export report to file: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 27.78it/s]

# Box Plot

In [158]:
df_ucayali = pd.read_csv("../Dataset/Ucayali/consolidado_allYears_UCAYALI_final_3.csv")
df_ucayali

C:\Users\chapp\anaconda3\envs\env_name\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CENTRO_SALUD,ANIO,DEPARTAMENTO,RANGO_EDAD,VACUNA,MES,COBERTURA,PROVINCIA,DISTRITO,RED,MICRORRED,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,%,CANTIDAD
0,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,ABRIL,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,NaN,115625,998497,0.0,0
1,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,AGOSTO,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,2.0,115625,3650033,0.0,0
2,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,DICIEMBRE,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,2.0,115625,1953340,0.0,0
3,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,ENERO,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,1.0,115625,924269,0.0,0
4,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,FEBRERO,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,1.0,115625,1000320,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127255,ZORRILLOS,2022,UCAYALI,RN,HVB,MARZO,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,1.0,10946,784465,0.0,0
127256,ZORRILLOS,2022,UCAYALI,RN,HVB,MAYO,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,1.0,10946,760212,0.0,0
127257,ZORRILLOS,2022,UCAYALI,RN,HVB,NOVIEMBRE,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,NaN,10946,677800,0.0,0
127258,ZORRILLOS,2022,UCAYALI,RN,HVB,OCTUBRE,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,NaN,10946,541898,0.0,0
127259,ZORRILLOS,2022,UCAYALI,RN,HVB,SETIEMBRE,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,1.0,10946,694132,0.0,0

# Data to model

In [99]:
df_ucayali = pd.read_csv("../Dataset/Ucayali/consolidado_allYears_UCAYALI_final_3.csv")
df_ucayali

C:\Users\chapp\anaconda3\envs\env_name\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CENTRO_SALUD,ANIO,DEPARTAMENTO,RANGO_EDAD,VACUNA,MES,COBERTURA,PROVINCIA,DISTRITO,RED,MICRORRED,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,%,CANTIDAD
0,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,ABRIL,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,NaN,115625,998497,0.0,0
1,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,AGOSTO,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,2.0,115625,3650033,0.0,0
2,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,DICIEMBRE,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,2.0,115625,1953340,0.0,0
3,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,ENERO,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,1.0,115625,924269,0.0,0
4,SANIDAD AEREA,2019,UCAYALI,1_ANIO,AMA,FEBRERO,0.0,CORONEL PORTILLO,YARINACOCHA,FEDERICO BASADRE - YARINACOCHA,NUEVO PARAISO,1.0,115625,1000320,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127255,ZORRILLOS,2022,UCAYALI,RN,HVB,MARZO,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,1.0,10946,784465,0.0,0
127256,ZORRILLOS,2022,UCAYALI,RN,HVB,MAYO,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,1.0,10946,760212,0.0,0
127257,ZORRILLOS,2022,UCAYALI,RN,HVB,NOVIEMBRE,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,NaN,10946,677800,0.0,0
127258,ZORRILLOS,2022,UCAYALI,RN,HVB,OCTUBRE,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,NaN,10946,541898,0.0,0
127259,ZORRILLOS,2022,UCAYALI,RN,HVB,SETIEMBRE,0.0,PADRE ABAD,CURIMANA,FEDERICO BASADRE - YARINACOCHA,MONTE ALEGRE-CURIMANA,1.0,10946,694132,0.0,0

In [100]:
# drop innecesary columns:
df_ucayali.drop(labels =["RED", "MICRORRED", "COBERTURA", "DEPARTAMENTO", "%"], axis = 1,  inplace = True)

In [101]:
df_ucayali.to_csv("../Dataset/Ucayali/withoutsomecolums.csv")

In [102]:
df_ucayali

,CENTRO_SALUD,ANIO,RANGO_EDAD,VACUNA,MES,PROVINCIA,DISTRITO,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD
0,SANIDAD AEREA,2019,1_ANIO,AMA,ABRIL,CORONEL PORTILLO,YARINACOCHA,NaN,115625,998497,0
1,SANIDAD AEREA,2019,1_ANIO,AMA,AGOSTO,CORONEL PORTILLO,YARINACOCHA,2.0,115625,3650033,0
2,SANIDAD AEREA,2019,1_ANIO,AMA,DICIEMBRE,CORONEL PORTILLO,YARINACOCHA,2.0,115625,1953340,0
3,SANIDAD AEREA,2019,1_ANIO,AMA,ENERO,CORONEL PORTILLO,YARINACOCHA,1.0,115625,924269,0
4,SANIDAD AEREA,2019,1_ANIO,AMA,FEBRERO,CORONEL PORTILLO,YARINACOCHA,1.0,115625,1000320,0
...,...,...,...,...,...,...,...,...,...,...,...
127255,ZORRILLOS,2022,RN,HVB,MARZO,PADRE ABAD,CURIMANA,1.0,10946,784465,0
127256,ZORRILLOS,2022,RN,HVB,MAYO,PADRE ABAD,CURIMANA,1.0,10946,760212,0
127257,ZORRILLOS,2022,RN,HVB,NOVIEMBRE,PADRE ABAD,CURIMANA,NaN,10946,677800,0
127258,ZORRILLOS,2022,RN,HVB,OCTUBRE,PADRE ABAD,CURIMANA,NaN,10946,541898,0
127259,ZORRILLOS,2022,RN,HVB,SETIEMBRE,PADRE ABAD,CURIMANA,1.0,10946,694132,0

## ImputaciÃ³n

In [103]:
df_ucayali['CANTIDAD DE PERSONAL'] = df_ucayali.groupby(['ANIO', 'CENTRO_SALUD', "VACUNA"])['CANTIDAD DE PERSONAL'].transform(lambda x: x.fillna(x.max()))

In [104]:
df_nans = df_ucayali[df_ucayali["CANTIDAD DE PERSONAL"].isna()]
df_nans

,CENTRO_SALUD,ANIO,RANGO_EDAD,VACUNA,MES,PROVINCIA,DISTRITO,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD
4680,ALTO 9 DE FEBRERO,2019,1_ANIO,AMA,ABRIL,CORONEL PORTILLO,CAMPOVERDE,NaN,19029,998497,0
4681,ALTO 9 DE FEBRERO,2019,1_ANIO,AMA,AGOSTO,CORONEL PORTILLO,CAMPOVERDE,NaN,19029,3650033,0
4682,ALTO 9 DE FEBRERO,2019,1_ANIO,AMA,DICIEMBRE,CORONEL PORTILLO,CAMPOVERDE,NaN,19029,1953340,0
4683,ALTO 9 DE FEBRERO,2019,1_ANIO,AMA,ENERO,CORONEL PORTILLO,CAMPOVERDE,NaN,19029,924269,0
4684,ALTO 9 DE FEBRERO,2019,1_ANIO,AMA,FEBRERO,CORONEL PORTILLO,CAMPOVERDE,NaN,19029,1000320,0
...,...,...,...,...,...,...,...,...,...,...,...
123475,SENOR DE LOS MILAGROS KM 24,2020,RN,HVB,MARZO,CORONEL PORTILLO,CAMPOVERDE,NaN,19598,751336,0
123476,SENOR DE LOS MILAGROS KM 24,2020,RN,HVB,MAYO,CORONEL PORTILLO,CAMPOVERDE,NaN,19598,710703,0
123477,SENOR DE LOS MILAGROS KM 24,2020,RN,HVB,NOVIEMBRE,CORONEL PORTILLO,CAMPOVERDE,NaN,19598,1348304,0
123478,SENOR DE LOS MILAGROS KM 24,2020,RN,HVB,OCTUBRE,CORONEL PORTILLO,CAMPOVERDE,NaN,19598,858754,0
123479,SENOR DE LOS MILAGROS KM 24,2020,RN,HVB,SETIEMBRE,CORONEL PORTILLO,CAMPOVERDE,NaN,19598,749638,0

In [105]:
df_ucayali['CANTIDAD DE PERSONAL'] = df_ucayali.groupby(['CENTRO_SALUD', "VACUNA"])['CANTIDAD DE PERSONAL'].transform(lambda x: x.fillna(x.max()))

In [107]:
df_nans = df_ucayali[df_ucayali["CANTIDAD DE PERSONAL"].isna()]
df_nans

,CENTRO_SALUD,ANIO,RANGO_EDAD,VACUNA,MES,PROVINCIA,DISTRITO,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD
12780,HOSPITAL II PUCALLPA ESSALUD,2019,1_ANIO,AMA,ABRIL,CORONEL PORTILLO,CALLERIA,NaN,168924,998497,0
12781,HOSPITAL II PUCALLPA ESSALUD,2019,1_ANIO,AMA,AGOSTO,CORONEL PORTILLO,CALLERIA,NaN,168924,3650033,0
12782,HOSPITAL II PUCALLPA ESSALUD,2019,1_ANIO,AMA,DICIEMBRE,CORONEL PORTILLO,CALLERIA,NaN,168924,1953340,0
12783,HOSPITAL II PUCALLPA ESSALUD,2019,1_ANIO,AMA,ENERO,CORONEL PORTILLO,CALLERIA,NaN,168924,924269,0
12784,HOSPITAL II PUCALLPA ESSALUD,2019,1_ANIO,AMA,FEBRERO,CORONEL PORTILLO,CALLERIA,NaN,168924,1000320,0
...,...,...,...,...,...,...,...,...,...,...,...
116095,PUESTO DE SALUD NUEVA UNIN PALOMETA,2022,RN,HVB,MARZO,PADRE ABAD,IRAZOLA,NaN,12786,784465,0
116096,PUESTO DE SALUD NUEVA UNIN PALOMETA,2022,RN,HVB,MAYO,PADRE ABAD,IRAZOLA,NaN,12786,760212,0
116097,PUESTO DE SALUD NUEVA UNIN PALOMETA,2022,RN,HVB,NOVIEMBRE,PADRE ABAD,IRAZOLA,NaN,12786,677800,0
116098,PUESTO DE SALUD NUEVA UNIN PALOMETA,2022,RN,HVB,OCTUBRE,PADRE ABAD,IRAZOLA,NaN,12786,541898,0
116099,PUESTO DE SALUD NUEVA UNIN PALOMETA,2022,RN,HVB,SETIEMBRE,PADRE ABAD,IRAZOLA,NaN,12786,694132,0

In [108]:
df_nans["CENTRO_SALUD"].unique()

array(['HOSPITAL II PUCALLPA ESSALUD', 'PUESTO DE SALUD DE NUEVA FLORIDA',
       'PUESTO DE SALUD DE SHANANTIA', 'PUESTO DE SALUD LOS OLIVOS',
       'PUESTO DE SALUD NUEVA UNIN PALOMETA'], dtype=object)

In [124]:
df_ucayali = df_ucayali.drop(df_ucayali[df_ucayali["CANTIDAD DE PERSONAL"].isna()].index)

In [125]:
df_ucayali[df_ucayali["CANTIDAD DE PERSONAL"].isna()]

Empty DataFrame
Columns: [CENTRO_SALUD, ANIO, RANGO_EDAD, VACUNA, MES, PROVINCIA, DISTRITO, CANTIDAD DE PERSONAL, POBLACION, PRESUPUESTO, CANTIDAD]
Index: []

In [138]:
df_ucayali

,ANIO,RANGO_EDAD,VACUNA,MES,PROVINCIA,DISTRITO,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD
0,2019,1_ANIO,AMA,ABRIL,CORONEL PORTILLO,YARINACOCHA,2.0,115625,998497,0
1,2019,1_ANIO,AMA,AGOSTO,CORONEL PORTILLO,YARINACOCHA,2.0,115625,3650033,0
2,2019,1_ANIO,AMA,DICIEMBRE,CORONEL PORTILLO,YARINACOCHA,2.0,115625,1953340,0
3,2019,1_ANIO,AMA,ENERO,CORONEL PORTILLO,YARINACOCHA,1.0,115625,924269,0
4,2019,1_ANIO,AMA,FEBRERO,CORONEL PORTILLO,YARINACOCHA,1.0,115625,1000320,0
...,...,...,...,...,...,...,...,...,...,...
127255,2022,RN,HVB,MARZO,PADRE ABAD,CURIMANA,1.0,10946,784465,0
127256,2022,RN,HVB,MAYO,PADRE ABAD,CURIMANA,1.0,10946,760212,0
127257,2022,RN,HVB,NOVIEMBRE,PADRE ABAD,CURIMANA,1.0,10946,677800,0
127258,2022,RN,HVB,OCTUBRE,PADRE ABAD,CURIMANA,1.0,10946,541898,0
127259,2022,RN,HVB,SETIEMBRE,PADRE ABAD,CURIMANA,1.0,10946,694132,0

## Aggregate

In [129]:
df_ucayali.drop(labels = ["CENTRO_SALUD"], axis =1, inplace =True)

In [144]:
df_result = df_ucayali.groupby(['VACUNA', 'ANIO', 'MES', "PROVINCIA", "DISTRITO"]).agg({
    'RANGO_EDAD': 'first',
    'CANTIDAD DE PERSONAL': 'sum', 
    'POBLACION': 'first',
    'PRESUPUESTO':'first',
    'CANTIDAD':'sum'
}).reset_index()
df_result

,VACUNA,ANIO,MES,PROVINCIA,DISTRITO,RANGO_EDAD,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD
0,AMA,2019,ABRIL,CORONEL PORTILLO,CALLERIA,1_ANIO,452.0,168924,998497,67
1,AMA,2019,ABRIL,CORONEL PORTILLO,CAMPOVERDE,1_ANIO,63.0,19029,998497,34
2,AMA,2019,ABRIL,CORONEL PORTILLO,NUEVA REQUENA,1_ANIO,27.0,5690,998497,17
3,AMA,2019,ABRIL,CORONEL PORTILLO,YARINACOCHA,1_ANIO,390.0,115625,998497,89
4,AMA,2019,ABRIL,PADRE ABAD,ALEXANDER VON HUMBOLDT,1_ANIO,8.0,6037,998497,6
...,...,...,...,...,...,...,...,...,...,...
9739,VARI,2022,SETIEMBRE,PADRE ABAD,CURIMANA,1_ANIO,24.0,10946,694132,9
9740,VARI,2022,SETIEMBRE,PADRE ABAD,IRAZOLA,1_ANIO,62.0,12786,694132,7
9741,VARI,2022,SETIEMBRE,PADRE ABAD,NESHUYA,1_ANIO,37.0,11236,694132,7
9742,VARI,2022,SETIEMBRE,PADRE ABAD,PADRE ABAD,1_ANIO,125.0,30297,694132,3
9743,VARI,2022,SETIEMBRE,PURUS,PURUS,1_ANIO,21.0,3270,694132,0

In [142]:
df_result_2 = df_ucayali.groupby(['VACUNA', 'ANIO', 'MES','RANGO_EDAD', 'POBLACION',"PROVINCIA", "DISTRITO" ,"PRESUPUESTO"]).agg({
    'CANTIDAD DE PERSONAL': 'sum',
    'CANTIDAD':'sum'
}).reset_index()
df_result_2

,VACUNA,ANIO,MES,RANGO_EDAD,POBLACION,PROVINCIA,DISTRITO,PRESUPUESTO,CANTIDAD DE PERSONAL,CANTIDAD
0,AMA,2019,ABRIL,1_ANIO,5690,CORONEL PORTILLO,NUEVA REQUENA,998497,27.0,17
1,AMA,2019,ABRIL,1_ANIO,6037,PADRE ABAD,ALEXANDER VON HUMBOLDT,998497,8.0,6
2,AMA,2019,ABRIL,1_ANIO,9803,PADRE ABAD,CURIMANA,998497,20.0,12
3,AMA,2019,ABRIL,1_ANIO,10080,PADRE ABAD,NESHUYA,998497,26.0,13
4,AMA,2019,ABRIL,1_ANIO,19029,CORONEL PORTILLO,CAMPOVERDE,998497,63.0,34
...,...,...,...,...,...,...,...,...,...,...
10435,VARI,2022,SETIEMBRE,1_ANIO,30297,PADRE ABAD,PADRE ABAD,694132,125.0,3
10436,VARI,2022,SETIEMBRE,1_ANIO,41621,ATALAYA,RAIMONDI,694132,146.0,28
10437,VARI,2022,SETIEMBRE,1_ANIO,113470,CORONEL PORTILLO,MANANTAY,694132,146.0,40
10438,VARI,2022,SETIEMBRE,1_ANIO,124069,CORONEL PORTILLO,YARINACOCHA,694132,546.0,34
10439,VARI,2022,SETIEMBRE,1_ANIO,177751,CORONEL PORTILLO,CALLERIA,694132,660.0,107

In [146]:
df_result.to_csv("../Dataset/Ucayali/df_result.csv", index = False)
df_result_2.to_csv("../Dataset/Ucayali/df_result_2.csv", index = False)

In [149]:
df_result_2.merge(df_result, indicator=True, how='left').loc[lambda x: x['_merge'] == 'left_only'].drop('_merge', axis=1)["VACUNA"]

5568    INFLUENZA
5569    INFLUENZA
5570    INFLUENZA
5571    INFLUENZA
5572    INFLUENZA
          ...
6955    INFLUENZA
6956    INFLUENZA
6957    INFLUENZA
6958    INFLUENZA
6959    INFLUENZA
Name: VACUNA, Length: 1392, dtype: object

## Data types

In [153]:
df_result_2["ANIO"] = df_result_2["ANIO"].astype(str)
df_result_2["CANTIDAD DE PERSONAL"] = df_result_2["CANTIDAD DE PERSONAL"].astype("int64")
df_result_2.dtypes

VACUNA                  object
ANIO                    object
MES                     object
RANGO_EDAD              object
POBLACION                int64
PROVINCIA               object
DISTRITO                object
PRESUPUESTO              int64
CANTIDAD DE PERSONAL     int64
CANTIDAD                 int64
dtype: object

In [156]:
df_result_2

,VACUNA,ANIO,MES,RANGO_EDAD,POBLACION,PROVINCIA,DISTRITO,PRESUPUESTO,CANTIDAD DE PERSONAL,CANTIDAD
0,AMA,2019,ABRIL,1_ANIO,5690,CORONEL PORTILLO,NUEVA REQUENA,998497,27,17
1,AMA,2019,ABRIL,1_ANIO,6037,PADRE ABAD,ALEXANDER VON HUMBOLDT,998497,8,6
2,AMA,2019,ABRIL,1_ANIO,9803,PADRE ABAD,CURIMANA,998497,20,12
3,AMA,2019,ABRIL,1_ANIO,10080,PADRE ABAD,NESHUYA,998497,26,13
4,AMA,2019,ABRIL,1_ANIO,19029,CORONEL PORTILLO,CAMPOVERDE,998497,63,34
...,...,...,...,...,...,...,...,...,...,...
10435,VARI,2022,SETIEMBRE,1_ANIO,30297,PADRE ABAD,PADRE ABAD,694132,125,3
10436,VARI,2022,SETIEMBRE,1_ANIO,41621,ATALAYA,RAIMONDI,694132,146,28
10437,VARI,2022,SETIEMBRE,1_ANIO,113470,CORONEL PORTILLO,MANANTAY,694132,146,40
10438,VARI,2022,SETIEMBRE,1_ANIO,124069,CORONEL PORTILLO,YARINACOCHA,694132,546,34
10439,VARI,2022,SETIEMBRE,1_ANIO,177751,CORONEL PORTILLO,CALLERIA,694132,660,107

In [154]:
df_encoded = pd.get_dummies(df_result_2)
df_encoded

,POBLACION,PRESUPUESTO,CANTIDAD DE PERSONAL,CANTIDAD,VACUNA_AMA,VACUNA_APO,VACUNA_APO2,VACUNA_APO_REF,VACUNA_APT,VACUNA_BCG,...,DISTRITO_MASISEA,DISTRITO_NESHUYA,DISTRITO_NUEVA REQUENA,DISTRITO_PADRE ABAD,DISTRITO_PURUS,DISTRITO_RAIMONDI,DISTRITO_SEPAHUA,DISTRITO_TAHUANIA,DISTRITO_YARINACOCHA,DISTRITO_YURUA
0,5690,998497,27,17,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,6037,998497,8,6,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9803,998497,20,12,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10080,998497,26,13,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,19029,998497,63,34,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10435,30297,694132,125,3,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10436,41621,694132,146,28,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10437,113470,694132,146,40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10438,124069,694132,546,34,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10439,177751,694132,660,107,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [155]:
df_encoded.to_csv("../Dataset/Ucayali/df_result_2_tomodel.csv", index = False)

In [157]:
df_result_2.to_csv("../Dataset/Ucayali/df_result_2_tomodel_noh.csv", index = False)

## Second level of aggregation

In [4]:
df_result_2 = pd.read_csv("../../Dataset/Ucayali/df_result_2_tomodel_noh.csv")
df_result_2

,VACUNA,ANIO,MES,RANGO_EDAD,POBLACION,PROVINCIA,DISTRITO,PRESUPUESTO,CANTIDAD DE PERSONAL,CANTIDAD
0,AMA,2019,ABRIL,1_ANIO,5690,CORONEL PORTILLO,NUEVA REQUENA,998497,27,17
1,AMA,2019,ABRIL,1_ANIO,6037,PADRE ABAD,ALEXANDER VON HUMBOLDT,998497,8,6
2,AMA,2019,ABRIL,1_ANIO,9803,PADRE ABAD,CURIMANA,998497,20,12
3,AMA,2019,ABRIL,1_ANIO,10080,PADRE ABAD,NESHUYA,998497,26,13
4,AMA,2019,ABRIL,1_ANIO,19029,CORONEL PORTILLO,CAMPOVERDE,998497,63,34
...,...,...,...,...,...,...,...,...,...,...
10435,VARI,2022,SETIEMBRE,1_ANIO,30297,PADRE ABAD,PADRE ABAD,694132,125,3
10436,VARI,2022,SETIEMBRE,1_ANIO,41621,ATALAYA,RAIMONDI,694132,146,28
10437,VARI,2022,SETIEMBRE,1_ANIO,113470,CORONEL PORTILLO,MANANTAY,694132,146,40
10438,VARI,2022,SETIEMBRE,1_ANIO,124069,CORONEL PORTILLO,YARINACOCHA,694132,546,34
10439,VARI,2022,SETIEMBRE,1_ANIO,177751,CORONEL PORTILLO,CALLERIA,694132,660,107

In [5]:
df_result_2_f = df_result_2.groupby(['VACUNA', 'ANIO', 'MES', "PROVINCIA"]).agg({
    'RANGO_EDAD': 'first',
    'CANTIDAD DE PERSONAL': 'sum', 
    'POBLACION': 'first',
    'PRESUPUESTO':'first',
    'CANTIDAD':'sum'
}).reset_index()
df_result_2_f

,VACUNA,ANIO,MES,PROVINCIA,RANGO_EDAD,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD
0,AMA,2019,ABRIL,CORONEL PORTILLO,1_ANIO,932,5690,998497,207
1,AMA,2019,ABRIL,PADRE ABAD,1_ANIO,54,6037,998497,31
2,AMA,2019,AGOSTO,CORONEL PORTILLO,1_ANIO,884,5690,3650033,75
3,AMA,2019,AGOSTO,PADRE ABAD,1_ANIO,49,6037,3650033,13
4,AMA,2019,DICIEMBRE,CORONEL PORTILLO,1_ANIO,887,5690,1953340,131
...,...,...,...,...,...,...,...,...,...
2347,VARI,2022,OCTUBRE,PURUS,1_ANIO,25,3270,541898,1
2348,VARI,2022,SETIEMBRE,ATALAYA,1_ANIO,202,2564,694132,64
2349,VARI,2022,SETIEMBRE,CORONEL PORTILLO,1_ANIO,1556,5843,694132,218
2350,VARI,2022,SETIEMBRE,PADRE ABAD,1_ANIO,258,6380,694132,27
2351,VARI,2022,SETIEMBRE,PURUS,1_ANIO,21,3270,694132,0

In [6]:
df_result_2_f["PROVINCIA"].unique()

array(['CORONEL PORTILLO', 'PADRE ABAD', 'ATALAYA', 'PURUS'], dtype=object)

In [10]:
ubigeo_df = pd.DataFrame(data = {"UBIGEO":[250100,250200,250300,250400], "PROVINCIA":["CORONEL PORTILLO","ATALAYA","PADRE ABAD","PURUS"]})

ubigeo_df

   UBIGEO         PROVINCIA
0  250100  CORONEL PORTILLO
1  250200           ATALAYA
2  250300        PADRE ABAD
3  250400             PURUS

In [12]:
df_result_3 = df_result_2_f.merge(ubigeo_df, on = "PROVINCIA", how = "left" )
df_result_3

,VACUNA,ANIO,MES,PROVINCIA,RANGO_EDAD,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD,UBIGEO
0,AMA,2019,ABRIL,CORONEL PORTILLO,1_ANIO,932,5690,998497,207,250100
1,AMA,2019,ABRIL,PADRE ABAD,1_ANIO,54,6037,998497,31,250300
2,AMA,2019,AGOSTO,CORONEL PORTILLO,1_ANIO,884,5690,3650033,75,250100
3,AMA,2019,AGOSTO,PADRE ABAD,1_ANIO,49,6037,3650033,13,250300
4,AMA,2019,DICIEMBRE,CORONEL PORTILLO,1_ANIO,887,5690,1953340,131,250100
...,...,...,...,...,...,...,...,...,...,...
2347,VARI,2022,OCTUBRE,PURUS,1_ANIO,25,3270,541898,1,250400
2348,VARI,2022,SETIEMBRE,ATALAYA,1_ANIO,202,2564,694132,64,250200
2349,VARI,2022,SETIEMBRE,CORONEL PORTILLO,1_ANIO,1556,5843,694132,218,250100
2350,VARI,2022,SETIEMBRE,PADRE ABAD,1_ANIO,258,6380,694132,27,250300
2351,VARI,2022,SETIEMBRE,PURUS,1_ANIO,21,3270,694132,0,250400

In [13]:
df_result_3.to_csv("../../Dataset/Ucayali/df_result_3_tomodel_noh.csv", index = False)

## ENAHO FEATURES

In [2]:
df_result_3 = pd.read_csv("../../Dataset/Ucayali/df_result_3_tomodel_noh.csv")
df_result_3

,VACUNA,ANIO,MES,PROVINCIA,RANGO_EDAD,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD,UBIGEO
0,AMA,2019,ABRIL,CORONEL PORTILLO,1_ANIO,932,5690,998497,207,250100
1,AMA,2019,ABRIL,PADRE ABAD,1_ANIO,54,6037,998497,31,250300
2,AMA,2019,AGOSTO,CORONEL PORTILLO,1_ANIO,884,5690,3650033,75,250100
3,AMA,2019,AGOSTO,PADRE ABAD,1_ANIO,49,6037,3650033,13,250300
4,AMA,2019,DICIEMBRE,CORONEL PORTILLO,1_ANIO,887,5690,1953340,131,250100
...,...,...,...,...,...,...,...,...,...,...
2347,VARI,2022,OCTUBRE,PURUS,1_ANIO,25,3270,541898,1,250400
2348,VARI,2022,SETIEMBRE,ATALAYA,1_ANIO,202,2564,694132,64,250200
2349,VARI,2022,SETIEMBRE,CORONEL PORTILLO,1_ANIO,1556,5843,694132,218,250100
2350,VARI,2022,SETIEMBRE,PADRE ABAD,1_ANIO,258,6380,694132,27,250300
2351,VARI,2022,SETIEMBRE,PURUS,1_ANIO,21,3270,694132,0,250400

In [7]:
df_result_3["MES"].unique()
meses = ['ENERO', 'FEBRERO','MARZO','ABRIL','MAYO','JUNIO','JULIO', 'AGOSTO','SETIEMBRE','OCTUBRE','NOVIEMBRE', 'DICIEMBRE' ]
diccionario = {mes : i+1 for i, mes in enumerate(meses)}
diccionario

{'ENERO': 1,
 'FEBRERO': 2,
 'MARZO': 3,
 'ABRIL': 4,
 'MAYO': 5,
 'JUNIO': 6,
 'JULIO': 7,
 'AGOSTO': 8,
 'SETIEMBRE': 9,
 'OCTUBRE': 10,
 'NOVIEMBRE': 11,
 'DICIEMBRE': 12}

In [9]:
df_result_3["MES_NUM"] = df_result_3["MES"].apply(lambda x: diccionario.get(x,None))
df_result_3

,VACUNA,ANIO,MES,PROVINCIA,RANGO_EDAD,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD,UBIGEO,MES_NUM
0,AMA,2019,ABRIL,CORONEL PORTILLO,1_ANIO,932,5690,998497,207,250100,4
1,AMA,2019,ABRIL,PADRE ABAD,1_ANIO,54,6037,998497,31,250300,4
2,AMA,2019,AGOSTO,CORONEL PORTILLO,1_ANIO,884,5690,3650033,75,250100,8
3,AMA,2019,AGOSTO,PADRE ABAD,1_ANIO,49,6037,3650033,13,250300,8
4,AMA,2019,DICIEMBRE,CORONEL PORTILLO,1_ANIO,887,5690,1953340,131,250100,12
...,...,...,...,...,...,...,...,...,...,...,...
2347,VARI,2022,OCTUBRE,PURUS,1_ANIO,25,3270,541898,1,250400,10
2348,VARI,2022,SETIEMBRE,ATALAYA,1_ANIO,202,2564,694132,64,250200,9
2349,VARI,2022,SETIEMBRE,CORONEL PORTILLO,1_ANIO,1556,5843,694132,218,250100,9
2350,VARI,2022,SETIEMBRE,PADRE ABAD,1_ANIO,258,6380,694132,27,250300,9
2351,VARI,2022,SETIEMBRE,PURUS,1_ANIO,21,3270,694132,0,250400,9

In [4]:
data_set_enaho = pd.read_csv("../../Dataset/Ucayali/ENAHO_DATA_UCAYALI.csv")
data_set_enaho

,ANIO,MES,PROVINCIA,ALFABETISMO,AGUA_POTABLE,DEMORA_CITA_horas,DEMORA_TRASLADO_horas
0,2019,1,CORONEL PORTILLO,0.134,0.579,1.463,0.288
1,2019,2,CORONEL PORTILLO,0.139,0.212,13.657,0.247
2,2019,3,CORONEL PORTILLO,0.222,0.214,5.727,0.415
3,2019,4,CORONEL PORTILLO,0.233,0.527,1.254,0.251
4,2019,5,CORONEL PORTILLO,0.240,0.439,39.428,0.273
...,...,...,...,...,...,...,...
187,2022,8,PURUS,0.000,0.000,NaN,NaN
188,2022,9,PURUS,0.000,0.000,NaN,NaN
189,2022,10,PURUS,0.000,0.000,NaN,NaN
190,2022,11,PURUS,0.000,0.000,NaN,NaN
191,2022,12,PURUS,0.000,0.000,NaN,NaN

In [12]:
df_3_enaho = df_result_3.merge(data_set_enaho, how="left", left_on =["ANIO", "PROVINCIA","MES_NUM"], right_on =["ANIO","PROVINCIA","MES"])
df_3_enaho

,VACUNA,ANIO,MES_x,PROVINCIA,RANGO_EDAD,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD,UBIGEO,MES_NUM,MES_y,ALFABETISMO,AGUA_POTABLE,DEMORA_CITA_horas,DEMORA_TRASLADO_horas
0,AMA,2019,ABRIL,CORONEL PORTILLO,1_ANIO,932,5690,998497,207,250100,4,4,0.233,0.527,1.254,0.251
1,AMA,2019,ABRIL,PADRE ABAD,1_ANIO,54,6037,998497,31,250300,4,4,0.056,0.667,0.500,0.375
2,AMA,2019,AGOSTO,CORONEL PORTILLO,1_ANIO,884,5690,3650033,75,250100,8,8,0.161,0.292,6.270,0.216
3,AMA,2019,AGOSTO,PADRE ABAD,1_ANIO,49,6037,3650033,13,250300,8,8,0.219,0.667,0.310,0.119
4,AMA,2019,DICIEMBRE,CORONEL PORTILLO,1_ANIO,887,5690,1953340,131,250100,12,12,0.186,0.537,38.927,0.230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2347,VARI,2022,OCTUBRE,PURUS,1_ANIO,25,3270,541898,1,250400,10,10,0.000,0.000,NaN,NaN
2348,VARI,2022,SETIEMBRE,ATALAYA,1_ANIO,202,2564,694132,64,250200,9,9,0.236,0.500,4.841,0.197
2349,VARI,2022,SETIEMBRE,CORONEL PORTILLO,1_ANIO,1556,5843,694132,218,250100,9,9,0.124,0.343,14.974,0.547
2350,VARI,2022,SETIEMBRE,PADRE ABAD,1_ANIO,258,6380,694132,27,250300,9,9,0.395,0.267,0.281,0.233
2351,VARI,2022,SETIEMBRE,PURUS,1_ANIO,21,3270,694132,0,250400,9,9,0.000,0.000,NaN,NaN

In [14]:
filas_con_nan = df_3_enaho.isna().any(axis=1)
df_3_enaho[filas_con_nan]

,VACUNA,ANIO,MES_x,PROVINCIA,RANGO_EDAD,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD,UBIGEO,MES_NUM,MES_y,ALFABETISMO,AGUA_POTABLE,DEMORA_CITA_horas,DEMORA_TRASLADO_horas
24,AMA,2020,ABRIL,ATALAYA,1_ANIO,136,2435,815151,3,250200,4,4,0.314,0.750,NaN,NaN
25,AMA,2020,ABRIL,CORONEL PORTILLO,1_ANIO,1248,5742,815151,13,250100,4,4,0.278,0.348,NaN,NaN
26,AMA,2020,ABRIL,PADRE ABAD,1_ANIO,178,6159,815151,1,250300,4,4,0.336,0.115,NaN,NaN
27,AMA,2020,ABRIL,PURUS,1_ANIO,18,3284,815151,0,250400,4,4,0.000,0.000,NaN,NaN
28,AMA,2020,AGOSTO,ATALAYA,1_ANIO,146,2435,725676,20,250200,8,8,0.615,0.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2339,VARI,2022,MAYO,PURUS,1_ANIO,24,3270,760212,0,250400,5,5,0.000,0.000,NaN,NaN
2340,VARI,2022,NOVIEMBRE,ATALAYA,1_ANIO,222,2564,677800,116,250200,11,11,0.233,0.053,NaN,NaN
2343,VARI,2022,NOVIEMBRE,PURUS,1_ANIO,25,3270,677800,2,250400,11,11,0.000,0.000,NaN,NaN
2347,VARI,2022,OCTUBRE,PURUS,1_ANIO,25,3270,541898,1,250400,10,10,0.000,0.000,NaN,NaN
2351,VARI,2022,SETIEMBRE,PURUS,1_ANIO,21,3270,694132,0,250400,9,9,0.000,0.000,NaN,NaN

In [15]:
df_3_enaho = df_3_enaho.fillna(0)
df_3_enaho.renanm

,VACUNA,ANIO,MES_x,PROVINCIA,RANGO_EDAD,CANTIDAD DE PERSONAL,POBLACION,PRESUPUESTO,CANTIDAD,UBIGEO,MES_NUM,MES_y,ALFABETISMO,AGUA_POTABLE,DEMORA_CITA_horas,DEMORA_TRASLADO_horas
0,AMA,2019,ABRIL,CORONEL PORTILLO,1_ANIO,932,5690,998497,207,250100,4,4,0.233,0.527,1.254,0.251
1,AMA,2019,ABRIL,PADRE ABAD,1_ANIO,54,6037,998497,31,250300,4,4,0.056,0.667,0.500,0.375
2,AMA,2019,AGOSTO,CORONEL PORTILLO,1_ANIO,884,5690,3650033,75,250100,8,8,0.161,0.292,6.270,0.216
3,AMA,2019,AGOSTO,PADRE ABAD,1_ANIO,49,6037,3650033,13,250300,8,8,0.219,0.667,0.310,0.119
4,AMA,2019,DICIEMBRE,CORONEL PORTILLO,1_ANIO,887,5690,1953340,131,250100,12,12,0.186,0.537,38.927,0.230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2347,VARI,2022,OCTUBRE,PURUS,1_ANIO,25,3270,541898,1,250400,10,10,0.000,0.000,0.000,0.000
2348,VARI,2022,SETIEMBRE,ATALAYA,1_ANIO,202,2564,694132,64,250200,9,9,0.236,0.500,4.841,0.197
2349,VARI,2022,SETIEMBRE,CORONEL PORTILLO,1_ANIO,1556,5843,694132,218,250100,9,9,0.124,0.343,14.974,0.547
2350,VARI,2022,SETIEMBRE,PADRE ABAD,1_ANIO,258,6380,694132,27,250300,9,9,0.395,0.267,0.281,0.233
2351,VARI,2022,SETIEMBRE,PURUS,1_ANIO,21,3270,694132,0,250400,9,9,0.000,0.000,0.000,0.000